<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{$data.title|default='💕'}</title>
    <meta id="description" name="description" content="{$data.content}">
    <meta name="full-screen" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="browsermode" content="application">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-page-mode" content="app">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache,must-revalidate">
    <meta http-equiv="expires" content="-1">
    <script>
        var global = typeof _global_ !== 'undefined' ? _global_ : window;
        global.legend = global.legend ? global.legend : {};
        global.legend.checkDomain = false;
        global.legend.publishDomain = "";
        global.legend.business = {"type":"h5"};
        global.legend.layoutMode = "multi";
        global.legend.id = "631c613c-9182-2309-4bbe-d5a7ad4b2708";
        !function(){window.legend.checkDomain&&(window.legend.publishDomain||(window.legend.publishDomain=location.hostname,"jing.baidu.com"===window.legend.publishDomain&&(window.legend.publishDomain="")),-1===[window.legend.publishDomain,"wapbaike.baidu.com"].indexOf(location.hostname)&&(location.href=location.href.replace(location.hostname,window.legend.publishDomain))),delete window.legend.publishDomain;var e=400,n='<meta name="viewport" content="width='+e+', user-scalable=no, minimal-ui" >';document.write(n),"multi"===window.legend.layoutMode&&window.addEventListener("DOMContentLoaded",function(){var e=document.body.clientHeight,n=500;if(self===top&&20>e)document.body.style.height="591px";else if(n>e&&"multi"===window.layoutMode){var i=document.querySelector(".lg-container");i&&(i.style.webkitTransformOrigin="50% 0",i.style.webkitTransform="translateZ(0) scale("+e/n+")")}},!1)}();
    </script>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    
    </head>
    <body>
    <link rel="stylesheet" type="text/css" href="{$template_path}/css/animations.css">

    <link type="text/css" rel="stylesheet" href="{$template_path}/css/3eef8fa1e51b1fb3b1d4afe49d4cfe0e_swiper.min.css">


    <link type="text/css" rel="stylesheet" href="{$template_path}/css/main.css" />

<div class="lg-container">
    <div class="lg-back-stage"></div>
    <div class="lg-page-container"></div>
    <div class="lg-front-stage"></div>
    <div class="lg-loading-page"></div>
</div>
<script src="{$template_path}/js/b83d7a78ba26c52504856e7a947371a6_zepto.min.js"></script>
<script src="{$template_path}/js/af38d567471f1a6bf16ddf56b9bce175_swiper.min.js"></script>

    <img src="{$template_path}/images/icon_up.png" alt="" class="arrow-up pt-page-moveIconUp">

    <script src="{$template_path}/js/main.js"></script>
    <script>
		var a = (typeof _global_ === "object" ? _global_: window);
a.legend.init({
    "attributes": [],
    "backStage": {
        "attributes": {
            "background": "url({$template_path}/images/f9198618367adab4f7c96bfa87d4b31c8701e46a.jpg) center center no-repeat",
            "backgroundOpacity": 1,
            "gravityLock": "notlock"
        },
        "events": []
    },
    "frontStage": {
        "attributes": {
            "gravityLock": "notlock"
        },
        "components": [{
            "type": "audio",
            "surface": {
                "x": 344,
                "y": 42,
                "width": 30,
                "height": 30,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "url": "{$data.music_url}",
                "playicon": "{$template_path}/images/9213b07eca806538df3601ba92dda144ac3482bf.jpg",
                "pauseicon": "{$template_path}/images/8ad4b31c8701a18bf9c3b6e69b2f07082838fe6b.jpg",
                "auto": "true",
                "loop": "true"
            },
            "events": []
        }],
        "events": []
    },
    "loadingPage": {
        "attributes": {
            "background": "url({$template_path}/images/f9198618367adab4f7c96bfa87d4b31c8701e46a.jpg) center center no-repeat",
            "backgroundOpacity": 1,
            "gravityLock": "notlock"
        },
        "components": [{
            "type": "image",
            "name": "底部云彩",
            "surface": {
                "x": -100,
                "y": 439,
                "width": 600,
                "height": 188,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/4e4a20a4462309f77820d0ab7e0e0cf3d7cad638.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "animations": [{
                "name": "slideInUp"
            }],
            "events": []
        },
        {
            "type": "image",
            "name": "大热气球",
            "surface": {
                "x": -26,
                "y": -16,
                "width": 145,
                "height": 196,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/38dbb6fd5266d0168225ed919b2bd40735fa354e.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "animations": [{
                "name": "fadeInUp"
            },
            {
                "name": "rubberBand"
            }],
            "events": []
        },
        {
            "type": "image",
            "name": "小热气球",
            "surface": {
                "x": 221,
                "y": 28,
                "width": 45,
                "height": 59,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/a08b87d6277f9e2fc3566fb11330e924b899f32c.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "animations": [{
                "name": "fadeInDown"
            }],
            "events": []
        },
        {
            "type": "image",
            "name": "大飞机",
            "surface": {
                "x": 285,
                "y": 46,
                "width": 158,
                "height": 114,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/fd039245d688d43ffb1fe34b711ed21b0ff43bd0.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "animations": [{
                "name": "fadeInLeft"
            }],
            "events": []
        },
        {
            "type": "image",
            "name": "小飞机",
            "surface": {
                "x": 165,
                "y": 56,
                "width": 45,
                "height": 41,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/b151f8198618367a621e036422738bd4b21ce5f0.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "animations": [{
                "name": "fadeInLeft"
            }],
            "events": []
        },
        {
            "type": "image",
            "name": "520",
            "surface": {
                "x": 25,
                "y": 122,
                "width": 363,
                "height": 185,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/4610b912c8fcc3ceb608b58a9e45d688d53f20ba.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "events": []
        },
        {
            "type": "image",
            "name": "3个云朵",
            "surface": {
                "x": 25,
                "y": 106,
                "width": 349,
                "height": 219,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/08f790529822720ee4b09c4377cb0a46f21fab09.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "events": []
        },
        {
            "type": "image",
            "name": "气球",
            "surface": {
                "x": 277,
                "y": 280,
                "width": 82,
                "height": 184,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/29381f30e924b8996cbb078162061d950b7bf680.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "events": []
        },
        {
            "type": "image",
            "name": "love",
            "surface": {
                "x": 73,
                "y": 282,
                "width": 269,
                "height": 141,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/aa18972bd40735fa6d6b300092510fb30e2408eb.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "events": []
        },
        {
            "type": "image",
            "name": "左心",
            "surface": {
                "x": 35,
                "y": 371,
                "width": 53,
                "height": 46,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/86d6277f9e2f070892884db9e524b899a801f2fe.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "events": []
        },
        {
            "type": "panel",
            "name": "告白气球",
            "surface": {
                "x": 50,
                "y": 405,
                "width": 321,
                "height": 81,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "components": [{
                    "type": "image",
                    "surface": {
                        "x": 0,
                        "y": 0,
                        "width": 321,
                        "height": 81,
                        "borderSize": 1,
                        "borderColor": "black",
                        "fill": "transparent"
                    },
                    "attributes": {
                        "src": "{$template_path}/images/77094b36acaf2edd83083750811001e938019389.jpg",
                        "size": 0,
                        "filename": "",
                        "touchevent": "false",
                        "keepDefault": "false",
                        "translateX": 0,
                        "translateY": 0,
                        "scale": 1,
                        "stroke": "black",
                        "strokeWidth": 0,
                        "strokeType": "solid",
                        "cornerRadius": 0
                    },
                    "events": []
                },
                {
                    "type": "image",
                    "surface": {
                        "x": 44,
                        "y": 1,
                        "width": 232,
                        "height": 65,
                        "borderSize": 1,
                        "borderColor": "black",
                        "fill": "transparent"
                    },
                    "attributes": {
                        "src": "{$template_path}/images/6c224f4a20a44623ed3ddbdb9422720e0df3d790.jpg",
                        "size": 0,
                        "filename": "",
                        "touchevent": "false",
                        "keepDefault": "false",
                        "translateX": 0,
                        "translateY": 0,
                        "scale": 1,
                        "stroke": "black",
                        "strokeWidth": 0,
                        "strokeType": "solid",
                        "cornerRadius": 0
                    },
                    "events": []
                }],
                "events": []
            },
            "events": []
        },
        {
            "type": "image",
            "name": "双心",
            "surface": {
                "x": 305,
                "y": 441,
                "width": 73,
                "height": 67,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/730e0cf3d7ca7bcbe1a9b996b2096b63f724a8bd.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "events": []
        },
        {
            "type": "image",
            "name": "右心",
            "surface": {
                "x": 57,
                "y": 458,
                "width": 31,
                "height": 28,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/738b4710b912c8fcb14e8874f0039245d78821cd.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "events": []
        },
        {
            "type": "image",
            "name": "正心",
            "surface": {
                "x": 331,
                "y": 392,
                "width": 28,
                "height": 24,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/2f738bd4b31c87011d31cc5f2b7f9e2f0608ff80.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "events": []
        },
        {
            "type": "label",
            "surface": {
                "x": 64,
                "y": 534,
                "width": 307,
                "height": 45,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "html": "<p style=\"text-align:center;\"><span style=\"font-family:HappyZcool; color:rgb(255, 255, 255); font-size:24px;\">{$data.info.title|default='此页面送给我最爱的宝贝'}</span></p>",
                "fonts": [{
                    "fontName": "HappyZcool",
                    "text": "{$data.info.title|default='此页面送给我最爱的宝贝'}"
                }],
                "verticalAlign": "top",
                "shadow": "false",
                "shadowColor": "gray",
                "shadowOffsetX": 3,
                "shadowOffsetY": 3,
                "shadowBlur": 0,
                "allowScroll": "false"
            },
            "events": []
        }],
        "events": []
    },
    "pages": [{
        "attributes": {
            "background": "#FFF",
            "gravityLock": "notlock",
            "swipeEffect": "rotate"
        },
        "components": [{
            "type": "image",
            "name": "底部云彩",
            "surface": {
                "x": -100,
                "y": 439,
                "width": 600,
                "height": 188,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/4e4a20a4462309f77820d0ab7e0e0cf3d7cad638.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "animations": [{
                "name": "slideInUp",
                "duration": 3
            }],
            "events": []
        },
        {
            "type": "image",
            "name": "大热气球",
            "surface": {
                "x": -26,
                "y": -16,
                "width": 145,
                "height": 196,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/38dbb6fd5266d0168225ed919b2bd40735fa354e.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "animations": [{
                "name": "fadeInUp"
            },
            {
                "name": "rubberBand"
            }],
            "events": []
        },
        {
            "type": "image",
            "name": "小热气球",
            "surface": {
                "x": 221,
                "y": 28,
                "width": 45,
                "height": 59,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/a08b87d6277f9e2fc3566fb11330e924b899f32c.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "animations": [{
                "name": "fadeInDown"
            }],
            "events": []
        },
        {
            "type": "image",
            "name": "大飞机",
            "surface": {
                "x": 285,
                "y": 46,
                "width": 158,
                "height": 114,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/fd039245d688d43ffb1fe34b711ed21b0ff43bd0.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "animations": [{
                "name": "fadeInLeft"
            }],
            "events": []
        },
        {
            "type": "image",
            "name": "小飞机",
            "surface": {
                "x": 165,
                "y": 56,
                "width": 45,
                "height": 41,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/b151f8198618367a621e036422738bd4b21ce5f0.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "animations": [{
                "name": "fadeInLeft"
            }],
            "events": []
        },
        {
            "type": "image",
            "name": "520",
            "surface": {
                "x": 25,
                "y": 122,
                "width": 363,
                "height": 185,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/4610b912c8fcc3ceb608b58a9e45d688d53f20ba.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "animations": [{
                "name": "zoomIn"
            },
            {
                "name": "bounce"
            }],
            "events": []
        },
        {
            "type": "image",
            "name": "3个云朵",
            "surface": {
                "x": 25,
                "y": 106,
                "width": 349,
                "height": 219,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/08f790529822720ee4b09c4377cb0a46f21fab09.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "animations": [{
                "name": "zoomIn"
            }],
            "events": []
        },
        {
            "type": "image",
            "name": "气球",
            "surface": {
                "x": 277,
                "y": 280,
                "width": 82,
                "height": 184,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/29381f30e924b8996cbb078162061d950b7bf680.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "animations": [{
                "name": "bounceIn",
                "delay": 2.8
            }],
            "events": []
        },
        {
            "type": "image",
            "name": "love",
            "surface": {
                "x": 73,
                "y": 282,
                "width": 269,
                "height": 141,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/aa18972bd40735fa6d6b300092510fb30e2408eb.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "animations": [{
                "name": "zoomIn",
                "duration": 2.8
            }],
            "events": []
        },
        {
            "type": "image",
            "name": "左心",
            "surface": {
                "x": 35,
                "y": 371,
                "width": 53,
                "height": 46,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/86d6277f9e2f070892884db9e524b899a801f2fe.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "events": []
        },
        {
            "type": "image",
            "name": "表白气球背景",
            "surface": {
                "x": 50,
                "y": 405,
                "width": 321,
                "height": 81,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/77094b36acaf2edd83083750811001e938019389.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "events": []
        },
        {
            "type": "image",
            "name": "表白气球",
            "surface": {
                "x": 94,
                "y": 406,
                "width": 232,
                "height": 65,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/6c224f4a20a44623ed3ddbdb9422720e0df3d790.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "animations": [{
                "name": "pulse",
                "repeat": "infinite"
            }],
            "events": []
        },
        {
            "type": "image",
            "name": "双心",
            "surface": {
                "x": 305,
                "y": 441,
                "width": 73,
                "height": 67,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/730e0cf3d7ca7bcbe1a9b996b2096b63f724a8bd.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "events": []
        },
        {
            "type": "image",
            "name": "右心",
            "surface": {
                "x": 57,
                "y": 458,
                "width": 31,
                "height": 28,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/738b4710b912c8fcb14e8874f0039245d78821cd.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "events": []
        },
        {
            "type": "image",
            "name": "正心",
            "surface": {
                "x": 331,
                "y": 392,
                "width": 28,
                "height": 24,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/2f738bd4b31c87011d31cc5f2b7f9e2f0608ff80.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "events": []
        },
        {
            "type": "label",
            "surface": {
                "x": 64,
                "y": 534,
                "width": 307,
                "height": 45,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "html": "<p style=\"text-align:center;\"><span style=\"font-family:HappyZcool; color:rgb(255, 255, 255); font-size:24px;\">{$data.info.title|default='此页面送给我最爱的宝贝'}</span></p>",
                "fonts": [{
                    "fontName": "HappyZcool",
                    "text": "{$data.info.title|default='此页面送给我最爱的宝贝'}"
                }],
                "verticalAlign": "top",
                "shadow": "false",
                "shadowColor": "gray",
                "shadowOffsetX": 3,
                "shadowOffsetY": 3,
                "shadowBlur": 0,
                "allowScroll": "false"
            },
            "events": []
        }],
        "events": []
    },
    {
        "attributes": {
            "background": "#FFF",
            "gravityLock": "notlock",
            "shareIcon": "https://gss0.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/doc/pic/item/ac345982b2b7d0a25e4d29d8cdef76094a369aea.jpg",
            "swipeEffect": "rotate"
        },
        "components": [{
            "type": "image",
            "name": "底部云彩",
            "surface": {
                "x": -100,
                "y": 439,
                "width": 600,
                "height": 188,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/4e4a20a4462309f77820d0ab7e0e0cf3d7cad638.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "animations": [{
                "name": "slideInUp",
                "duration": 3
            }],
            "events": []
        },
        {
            "type": "image",
            "name": "大热气球",
            "surface": {
                "x": -26,
                "y": -16,
                "width": 145,
                "height": 196,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/38dbb6fd5266d0168225ed919b2bd40735fa354e.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "animations": [{
                "name": "fadeInUp"
            },
            {
                "name": "rubberBand"
            }],
            "events": []
        },
        {
            "type": "image",
            "name": "小热气球",
            "surface": {
                "x": 254,
                "y": 6,
                "width": 45,
                "height": 59,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/a08b87d6277f9e2fc3566fb11330e924b899f32c.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "animations": [{
                "name": "fadeInDown"
            }],
            "events": []
        },
        {
            "type": "image",
            "name": "小飞机",
            "surface": {
                "x": 329,
                "y": 20,
                "width": 45,
                "height": 41,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/b151f8198618367a621e036422738bd4b21ce5f0.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "animations": [{
                "name": "fadeInLeft"
            }],
            "events": []
        },
        {
            "type": "image",
            "name": "love",
            "surface": {
                "x": 105,
                "y": 20,
                "width": 269,
                "height": 141,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/aa18972bd40735fa6d6b300092510fb30e2408eb.jpg",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "animations": [{
                "name": "fadeInUp",
                "duration": 2.8
            }],
            "events": []
        },
        {
            "type": "panel",
            "surface": {
                "x": 40,
                "y": 103,
                "width": 347,
                "height": 144,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "components": [{
                    "type": "image",
                    "surface": {
                        "x": 38,
                        "y": 0,
                        "width": 53,
                        "height": 46,
                        "borderSize": 1,
                        "borderColor": "black",
                        "fill": "transparent"
                    },
                    "attributes": {
                        "src": "{$template_path}/images/86d6277f9e2f070892884db9e524b899a801f2fe.jpg",
                        "size": 0,
                        "filename": "",
                        "touchevent": "false",
                        "keepDefault": "false",
                        "translateX": 0,
                        "translateY": 0,
                        "scale": 1,
                        "stroke": "black",
                        "strokeWidth": 0,
                        "strokeType": "solid",
                        "cornerRadius": 0
                    },
                    "events": []
                },
                {
                    "type": "image",
                    "surface": {
                        "x": 0,
                        "y": 46,
                        "width": 321,
                        "height": 81,
                        "borderSize": 1,
                        "borderColor": "black",
                        "fill": "transparent"
                    },
                    "attributes": {
                        "src": "{$template_path}/images/77094b36acaf2edd83083750811001e938019389.jpg",
                        "size": 0,
                        "filename": "",
                        "touchevent": "false",
                        "keepDefault": "false",
                        "translateX": 0,
                        "translateY": 0,
                        "scale": 1,
                        "stroke": "black",
                        "strokeWidth": 0,
                        "strokeType": "solid",
                        "cornerRadius": 0
                    },
                    "events": []
                },
                {
                    "type": "image",
                    "surface": {
                        "x": 274,
                        "y": 77,
                        "width": 73,
                        "height": 67,
                        "borderSize": 1,
                        "borderColor": "black",
                        "fill": "transparent"
                    },
                    "attributes": {
                        "src": "{$template_path}/images/730e0cf3d7ca7bcbe1a9b996b2096b63f724a8bd.jpg",
                        "size": 0,
                        "filename": "",
                        "touchevent": "false",
                        "keepDefault": "false",
                        "translateX": 0,
                        "translateY": 0,
                        "scale": 1,
                        "stroke": "black",
                        "strokeWidth": 0,
                        "strokeType": "solid",
                        "cornerRadius": 0
                    },
                    "events": []
                },
                {
                    "type": "image",
                    "surface": {
                        "x": 8,
                        "y": 96,
                        "width": 31,
                        "height": 28,
                        "borderSize": 1,
                        "borderColor": "black",
                        "fill": "transparent"
                    },
                    "attributes": {
                        "src": "{$template_path}/images/738b4710b912c8fcb14e8874f0039245d78821cd.jpg",
                        "size": 0,
                        "filename": "",
                        "touchevent": "false",
                        "keepDefault": "false",
                        "translateX": 0,
                        "translateY": 0,
                        "scale": 1,
                        "stroke": "black",
                        "strokeWidth": 0,
                        "strokeType": "solid",
                        "cornerRadius": 0
                    },
                    "events": []
                },
                {
                    "type": "image",
                    "surface": {
                        "x": 283,
                        "y": 34,
                        "width": 28,
                        "height": 24,
                        "borderSize": 1,
                        "borderColor": "black",
                        "fill": "transparent"
                    },
                    "attributes": {
                        "src": "{$template_path}/images/2f738bd4b31c87011d31cc5f2b7f9e2f0608ff80.jpg",
                        "size": 0,
                        "filename": "",
                        "touchevent": "false",
                        "keepDefault": "false",
                        "translateX": 0,
                        "translateY": 0,
                        "scale": 1,
                        "stroke": "black",
                        "strokeWidth": 0,
                        "strokeType": "solid",
                        "cornerRadius": 0
                    },
                    "events": []
                }],
                "events": []
            },
            "animations": [{
                "name": "fadeInUp"
            }],
            "events": []
        },
        {
            "type": "label",
            "surface": {
                "x": 119,
                "y": 157,
                "width": 182,
                "height": 46,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "html": "<p style=\"text-align:left;\"><span style=\"color:rgb(255, 255, 255); font-size:42px; font-family:HappyZcool;\">告白情书</span></p>",
                "fonts": [{
                    "fontName": "HappyZcool",
                    "text": "告白情书"
                }],
                "verticalAlign": "top",
                "shadow": "false",
                "shadowColor": "gray",
                "shadowOffsetX": 3,
                "shadowOffsetY": 3,
                "shadowBlur": 0,
                "allowScroll": "false"
            },
            "animations": [{
                "name": "fadeInUp",
                "duration": 1.6
            }],
            "events": []
        },
        {
            "type": "image",
            "name": "信纸",
            "surface": {
                "x": 45,
                "y": 290,
                "width": 300,
                "height": 360,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            "attributes": {
                "src": "{$template_path}/images/d62a6059252dd42ac77863120f3b5bb5c9eab812.png",
                "size": 0,
                "filename": "",
                "touchevent": "false",
                "keepDefault": "false",
                "translateX": 0,
                "translateY": 0,
                "scale": 1,
                "stroke": "black",
                "strokeWidth": 0,
                "strokeType": "solid",
                "cornerRadius": 0
            },
            "animations": [{
                "name": "fadeInUp",
                "delay": 1.5
            },
            {
                "name": "bounce"
            }],
            "events": []
        },
        {
            "type": "label",
            "surface": {
                "x": 90,
                "y": 310,
                "width": 220,
                "height": 190,
                "borderSize": 1,
                "borderColor": "black",
                "fill": "transparent"
            },
            <?php
            
                $data['content'] = str_replace(array("\r\n", "\r", "\n"), "", $data['content']);   
            ?>
            "attributes": {
                "html": "<p style=\"text-align:left; line-height:1.1;\"><span style=\"color:rgb(255, 128, 128); font-size:16px;\">{$data.content|trim}</span></p>",
                "fonts": [],
                "verticalAlign": "top",
                "shadow": "false",
                "shadowColor": "gray",
                "shadowOffsetX": 3,
                "shadowOffsetY": 3,
                "shadowBlur": 0,
                "allowScroll": "false"
            },
            "animations": [{
                "name": "fadeInUp",
                "duration": 1.3,
                "delay": 3.39
            },
            {
                "name": "pulse"
            }],
            "events": []
        }],
        "events": []
    },
    
    ]
})

    $(function(){
        $.get("https://20it.cn/api/addViews?id={$data.id}");
    });
    
	</script>
	<!-- <source src="{$data.music_url}" type="audio/mpeg" /> -->
	
{if is_we_show() || isset($_GET['is_demo'])}
    
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
    <style>
        #action .btn{font-size:1.2rem;background-color: #2196f3; }
        #action .btn-return{float:left;color:#000;border-radius: 0 25px 25px 0; padding: .8rem 2.4rem .8rem 2.4rem ;color:#FFF; box-shadow: .2rem  0 .2rem #888888;}
        #action .btn-make{float:right;color:#000;border-radius: 25px 0 0 25px; background-color: #2196f3; padding: .8rem 1.5rem .8rem 1.5rem;color:#FFF; box-shadow: 0 .2rem   .2rem #888888;}
    </style>
    <div id="action" style="bottom: 3rem; position: fixed; width: 100%; height: 80px ; z-index: 99999;text-align:center;">
        <div class="btn btn-return" onclick="btnReturn();">返回</div>
        {if !isset($_GET['is_demo'])}
        <div class="btn btn-make" onclick="btnMake();">点击制作</div>
        {/if}
        
        
    </div>
    <script src="/template/jump.js?111"></script>
    <script>
        function btnReturn() {
            const url = '../index/index';
            wx.miniProgram.navigateBack({
                
            });
            console.log("返回了")
        }
        
        function btnMake(){
            {if request()->action() == 'show2'}
            const url = "../make/make?type=user&id={$data.id}&public=1" ;
            {else}
            const url = "../make/make?id={:request()->get('demo_id')}" ;
            {/if}
            wx.miniProgram.navigateTo({
                url: url
            });
            console.log("点击制作了")
        }
        
        function btnMakeData(){
            this.btnMakeUrl();
            console.log("点击制作了")
        }
    </script>
{/if}
    

</body>
    
</html>
