<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{$data.title|default="💌"}</title>
    <link type="text/css" rel="stylesheet" href="/template/wenan/css/style.css?v1.0.13">
    <script>
        //判断客户端设备，选择写入meta
        function init_viewport() {
            if (navigator.userAgent.indexOf('Android') != -1) {
                var version = parseFloat(RegExp.$1);
                if (version > 2.3) {
                    var width = window.outerWidth == 0 ? window.screen.width : window.outerWidth;
                    var phoneScale = parseInt(width) / 500;
                    document.write('<meta name="viewport" content="width=500, minimum-scale = ' + phoneScale + ', maximum-scale = ' + phoneScale + ', target-densitydpi=device-dpi">');
                } else {
                    document.write('<meta name="viewport" content="width=500, target-densitydpi=device-dpi, user-scalable=0">');
                }
            } else if (navigator.userAgent.indexOf('iPhone') != -1) {
                var phoneScale = parseInt(window.screen.width) / 500;
                document.write('<meta name="viewport" content="width=500, min-height=750, initial-scale=' + phoneScale + ', maximum-scale=' + phoneScale + ', user-scalable=0" /> ');         //0.75   0.82
            } else {
                document.write('<meta name="viewport" content="width=500, height=750, initial-scale=0.64" /> '); //0.75  0.82
            }
        }
        init_viewport();
    </script>
    
    <style>
    #canvas {position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto;}
    #box{color:#FFF;}
    </style>
</head>

<body style="overflow-x:hidden;overflow-y:hidden;background-color:#000;padding-top:2rem;">

<canvas id="canvas"></canvas>
<script src="{$template_path}/js/xuehua.js"></script>
  
<div id="main" style="position:absolute; width:100%; height:100%; z-index:-1;" onclick="start()">
    <img style="position:absolute; width:100%; top: 140px;" src="{$data.background_url}" />
    <div class="type-wrap" style=" padding: 10px 35px 0px 0px; position: absolute; top: 0px;  left: 35px;  z-index: 500; color: #ffffff; ">
	    <div id="typed-strings" style="display:none;text-align:center; ">
	        <p>{$data.content}</p>
		</div>
	    <span id="box" style="white-space:pre-line; font-size: 1.3rem;"></span>
	</div>
</div>
<div id='div_btn_container' style="z-index:9999;">
    <div id="div_btn_inner">
        <div class='div_music_tips'></div>
        <div class="div_btn" id="div_music" onclick="music_switch()">
            <audio id="audio_music" autoplay="autoplay" preload="auto" loop>
                <source src="{$data.music_url}" type="audio/mpeg" />
                <embed id="main_audio_ie8" hidden="true" autostart="true" height="0" width=0 loop="true" src="{$data.music_url}" autoplay="autoplay"/>
            </audio>
        </div>
        
        {if (!is_we_show() && !isset($_GET['is_demo']))}
        {if (isset($data['hide_more']) && $data['hide_more'] == 0) || (!isset($data['hide_more']))}
        <div class="div_btn" id="btn-make">
            <a id='moreLink' href="/jump.php"><span>制作</span></a>
        </div>
        <div class="div_btn" id='div_support'>
            <a id='moreLink' href="https://mp.weixin.qq.com/s/QWXH_GXn6Wo9cTmSPki-Pg"><span>更多</span></a>
        </div>
        {/if}
        {/if}
    </div>
</div>
    
{if is_we_show() || isset($_GET['is_demo'])}

    <script
      type="text/javascript"
      src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"
    ></script>
    <style>
      #action .btn-return,#action .btn-make {
        font-size: 1.2rem;
        background-color: #2196f3;
      }
      #action .btn-return {
        float: left;
        color: #000;
        border-radius: 0 25px 25px 0;
        padding: 0.8rem 2.4rem 0.8rem 2.4rem;
        color: #fff;
        box-shadow: 0.2rem 0 0.2rem #888888;
      }
      #action .btn-make {
        float: right;
        color: #000;
        border-radius: 25px 0 0 25px;
        background-color: #2196f3;
        padding: 0.8rem 1.5rem 0.8rem 1.5rem;
        color: #fff;
        box-shadow: 0 0.2rem 0.2rem #888888;
      }
    </style>
    <div
      id="action"
      style="
        bottom: 3rem;
        position: fixed;
        width: 100%;
        height: 80px;
        z-index: 99999;
        text-align: center;
      "
    >
      <div class="btn-return" onclick="btnReturn();">返回</div>
      {if !isset($_GET['is_demo'])}
      <div class="btn-make" onclick="btnMake();">点击制作</div>
      {/if}
    </div>

    <script>
      function btnReturn() {
          const url = '../index/index';
          wx.miniProgram.navigateBack({

          });
          console.log("返回了")
      }


      function btnMake(){
          {if request()->action() == 'show2'}
          const url = "../make/make?type=user&id={$data.id}&public=1" ;
          {else}
          const url = "../make/make?id={:request()->get('demo_id')}" ;
          {/if}
          wx.miniProgram.navigateTo({
              url: url
          });
          console.log("点击制作了")
      }

      function btnMakeData(){
          this.btnMakeUrl();
          console.log("点击制作了")
      }
    </script>
{else}
<script src="/template/jump.js?v1.0.7"></script>
{/if}
<script src="/template/wenan/js/jquery-2.0.3.min.js"></script>
<!--<script src="/template/wenan/js/su.js"></script>-->
<script src="{$template_path}/js/typed.js"></script>
<script src="{$template_path}/js/main.js"></script>


<script type="text/javascript">

    var id = "{$data.id}";
    
    function start(){
        audioAutoPlay('audio_music');
    }
    
    $(function(){
        start();
    });
    
    
</script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?c314395e62fb55e30828e0ea8cca8b3a";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>