<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>趣事笔记记录</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{$template_path}/css/index.css"
      media="all"
    />
  </head>

  <body
    class="home blog custom-background round-avatars"
    data-aos-easing="ease"
    data-aos-duration="400"
    data-aos-delay="0"
  >
    <div
      class="Yarn_Background"
      style="background-image: url({$template_path}/images/47fb3c_.jpg)"
    ></div>
    <form
      class="js-search search-form search-form--modal"
      method="get"
      action="search.html"
      role="search"
    >
      <div class="search-form__inner">
        <div>
          <div id="search-container" class="ajax_search">
            <div class="filter_container">
              <input
                type="text"
                value=""
                autocomplete="off"
                placeholder="Type then select or enter"
                name="s"
                id="search-input"
              />
              <ul
                id="search_filtered"
                class="search_filtered"
                style="display: none"
              ></ul>
            </div>
            <input
              type="submit"
              name="submit"
              id="searchsubmit"
              class="searchsubmit"
              value=""
            />
          </div>
        </div>
      </div>
    </form>

    <header id="masthead" class="overlay animated from-bottom" itemprop="brand">
      <div class="site-branding text-center">
        <a href="index.html">
          <figure>
            <img
              class="custom-logo avatar"
              src="{$template_path}/images/omikron.png"
            />
          </figure>
        </a>
        <h3 class="blog-description"><p>This is my diary</p></h3>
      </div>
      <!-- .site-branding -->
      <div class="decor-part">
        <div id="particles-js">
          <canvas
            class="particles-js-canvas-el"
            width="1920"
            height="500"
            style="width: 100%; height: 100%"
          ></canvas>
        </div>
      </div>
      <div class="animation-header">
        <div class="decor-wrapper">
          <svg
            id="header-decor"
            class="decor bottom"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            viewBox="0 0 100 100"
            preserveAspectRatio="none"
          >
            <path
              class="large left"
              d="M0 0 L50 50 L0 100"
              fill="rgba(255,255,255, .1)"
            ></path>
            <path
              class="large right"
              d="M100 0 L50 50 L100 100"
              fill="rgba(255,255,255, .1)"
            ></path>
            <path
              class="medium left"
              d="M0 100 L50 50 L0 33.3"
              fill="rgba(255,255,255, .3)"
            ></path>
            <path
              class="medium right"
              d="M100 100 L50 50 L100 33.3"
              fill="rgba(255,255,255, .3)"
            ></path>
            <path
              class="small left"
              d="M0 100 L50 50 L0 66.6"
              fill="rgba(255,255,255, .5)"
            ></path>
            <path
              class="small right"
              d="M100 100 L50 50 L100 66.6"
              fill="rgba(255,255,255, .5)"
            ></path>
            <path
              d="M0 99.9 L50 49.9 L100 99.9 L0 99.9"
              fill="rgba(255,255,255, 1)"
            ></path>
            <path
              d="M48 52 L50 49 L52 52 L48 52"
              fill="rgba(255,255,255, 1)"
            ></path>
          </svg>
        </div>
      </div>
    </header>
    <div id="main" class="content">
      <div class="container">
        <article itemscope="itemscope">
          <div class="posts-list js-posts">
        
            <div
              class="post post-layout-list aos-init aos-animate"
              data-aos="fade-up"
            >
              <div class="postnormal review">
                <div class="post-container review-item">
                  <div class="row review-item-wrapper">
                    <div class="col-sm-3">
                      <a rel="nofollow" href="#post.html">
                        <div
                          class="review-item-img"
                          style="
                            background-image: url({$template_path}/images/diego-ph-249471-2-800x1000.jpg);
                          "
                        ></div>
                      </a>
                    </div>
                    <div class="col-sm-9 flex-xs-middle">
                      <div class="review-item-title">
                        <a href="#post.html" rel="bookmark"
                          >工作记录篇</a
                        >
                      </div>
                      <div class="review-item-creator">
                        <b>发布日期：</b>2022-01-30
                      </div>
                      <span class="review-item-info"
                        ><b>总浏览量：</b>103 reads</span
                      >
                    </div>
                  </div>
                  <div class="review-bg-wrapper">
                    <div
                      class="bg-blur"
                      style="
                        background-image: url({$template_path}/images/diego-ph-249471-2-800x1000.jpg);
                      "
                    ></div>
                  </div>
                </div>
                <div class="post-container">
                  <div class="entry-content">
                    　　以前在校很少自己做程序,对软件工程更是一无所知。来到公司,开始接触"大规模"(其实现在看来实习的项目其实还是很小的)软件开发,一时真的有些迷茫。比起VSS,MVC,QA,CMMI,我对JAVA,JSP,XML的一窍不通根本不值一提。大家都不想输在"起点",所以都默契地在加班,这样一直持续了实习的两个月。
                  </div>
                  <div class="post-footer">
                    <a class="gaz-btn primary" href="index.html">READ MORE</a>
                    <span class="total-comments-on-post pull-right"
                      ><a href="index.html">31 Comments</a></span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="post post-layout-list aos-init" data-aos="fade-up">
              <div class="status_list_item icon_kyubo">
                <div
                  class="status_user"
                  style="
                    background-image: url({$template_path}/images/b0ce3f3cde0c084b6d42321b2dcbc407.jpeg);
                  "
                >
                  <div class="status_section">
                    <a href="#post.html" class="status_btn">生活</a>
                    <p class="section_p">
                      第一次陪弟弟去荟聚，陪弟弟一起打电玩、吃汉堡，给弟弟买玩具，记录在笔记中。 今天是星期天，原本是叫爸爸一起去新房子那边把剩下的一点砖头、黄沙、水泥搬回爸爸那里，说好下午一点去带爸爸，爸爸问我要不要去他那边吃饭，我说下午，后来爸爸说弟弟要去荟聚，让我带你们一起，于是我就去爸爸那边吃午饭了。 
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="post post-layout-list js-gallery aos-init"
              data-aos="fade-up"
            >
              <div class="post-album">
                <div class="row content">
                  <div
                    class="bg"
                    style="
                      background-image: url({$template_path}/images/img_0150.jpg);
                    "
                  ></div>
                  <div class="contentext flex-xs-middle">
                    <div class="album-title">
                      <a href="#post.html">新学习了重构图像测试</a>
                    </div>
                    <h5 class="review-item-creator">
                      <b>发布日期：</b>2022-01-25
                    </h5>
                    <div class="album-content">
                      如眼所见是一个图像样式，必须写五十左右的文字作为这个文本框的空白填充，不写也是可以的，强迫症不能容忍空白。
                    </div>
                  </div>
                  <div class="album-thumb-width flex-xs-middle">
                    <div class="row album-thumb no-gutter">
                      <div class="col-xs-4">
                        <img
                          class="thumb"
                          src="{$template_path}/images/img_0150-250x250.jpg"
                        />
                      </div>
                      <div class="col-xs-4">
                        <img
                          class="thumb"
                          src="{$template_path}/images/img_0149-250x250.jpg"
                        />
                      </div>
                      <div class="col-xs-4">
                        <img
                          class="thumb"
                          src="{$template_path}/images/img_0146-250x250.jpg"
                        />
                      </div>
                      <div class="col-xs-4">
                        <img
                          class="thumb"
                          src="{$template_path}/images/img_0147-250x250.jpg"
                        />
                      </div>
                      <div class="col-xs-4">
                        <img
                          class="thumb"
                          src="{$template_path}/images/img_0148-250x250.jpg"
                        />
                      </div>
                      <div class="col-xs-4">
                        <a href="index.html">5 pics</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post post-layout-list aos-init" data-aos="fade-up">
              <div class="postnormal review">
                <div class="post-container review-item">
                  <div class="row review-item-wrapper">
                    <div class="col-sm-3">
                      <a rel="nofollow" href="#post.html">
                        <div
                          class="review-item-img"
                          style="
                            background-image: url({$template_path}/images/47fb3c_9afed6c259f94589881bd55376206366mv2_d_3840_5784_s_4_2-800x450.jpg);
                          "
                        ></div>
                      </a>
                    </div>
                    <div class="col-sm-9 flex-xs-middle">
                      <div class="review-item-title">
                        <a href="#post.html" rel="bookmark">给大家介绍一下</a>
                      </div>
                      <div class="review-item-creator">
                        <b>发布日期：</b>2021-10-02
                      </div>
                      <span class="review-item-info"
                        ><b>总浏览量：</b>206 reads</span
                      >
                    </div>
                  </div>
                  <div class="review-bg-wrapper">
                    <div
                      class="bg-blur"
                      style="
                        background-image: url({$template_path}/images/47fb3c_9afed6c259f94589881bd55376206366mv2_d_3840_5784_s_4_2-800x450.jpg);
                      "
                    ></div>
                  </div>
                </div>
                <div class="post-container">
                  <div class="entry-content">
                    现在的明星的影响力足以影响国内娱乐圈的"半壁江山"，发条微博，新浪都恐慌好几天，来来来，蹭个热点给大家介绍一下我的女朋友，待续...
                  </div>
                  <div class="post-footer">
                    <a class="gaz-btn primary" href="#post.html">READ MORE</a>
                    <span class="total-comments-on-post pull-right"
                      ><a href="index.html">30 Comments</a></span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>

    <footer id="footer" class="overlay animated from-top">
      <div class="decor-wrapper">
        <svg
          id="footer-decor"
          class="decor top"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          viewBox="0 0 100 100"
          preserveAspectRatio="none"
        >
          <path
            class="large left"
            d="M0 0 L50 50 L0 100"
            fill="rgba(255,255,255, .1)"
          ></path>
          <path
            class="large right"
            d="M100 0 L50 50 L100 100"
            fill="rgba(255,255,255, .1)"
          ></path>
          <path
            class="medium left"
            d="M0 0 L50 50 L0 66.6"
            fill="rgba(255,255,255, .3)"
          ></path>
          <path
            class="medium right"
            d="M100 0 L50 50 L100 66.6"
            fill="rgba(255,255,255, .3)"
          ></path>
          <path
            class="small left"
            d="M0 0 L50 50 L0 33.3"
            fill="rgba(255,255,255, .5)"
          ></path>
          <path
            class="small right"
            d="M100 0 L50 50 L100 33.3"
            fill="rgba(255,255,255, .5)"
          ></path>
          <path d="M0 0 L50 50 L100 0 L0 0" fill="rgba(255,255,255, 1)"></path>
          <path
            d="M48 48 L50 51 L52 48 L48 48"
            fill="rgba(255,255,255, 1)"
          ></path>
        </svg>
      </div>

      <div class="cr">
        © 2022 {:request()->host()} All Rights Reserved |
        <a target="_blank" href="http://beian.miit.gov.cn"
          >粤ICP备2022029759号{if request()->host() == '20it.cn' || request()->host() == 'www.20it.cn'}-2{/if}</a
        >
      </div>
      <script
        type="text/javascript"
        src="{$template_path}/js/jquery.min.js"
      ></script>
      <script
        type="text/javascript"
        src="{$template_path}/js/plugins.js"
      ></script>
      <script
        type="text/javascript"
        src="{$template_path}/js/script.js"
      ></script>
      <script
        type="text/javascript"
        src="{$template_path}/js/particles.js"
      ></script>
      <script type="text/javascript" src="{$template_path}/js/aos.js"></script>
    </footer>
  </body>
</html>